html, body {
    margin: 0;
    background-color: #efefef;
    font-family: sans-serif;
}
.wrapper {
    width: 500px;
    /* height: 640px; */
    padding: 5px;
    margin: 0 auto;
    background-color: #ddd;
}
.contentBox {
    height: 325px;
    overflow: scroll;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 7px 10px;
}
.sendBox {
    margin-top: 10px;
    overflow: hidden;
}
#sendBtn {
    margin-top: 10px;
    float: right;
}
#loginWrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(5, 5, 5, .6);
    text-align: center;
    color: #fff;
    display: block;
    padding-top: 200px;
}
#nickWrapper {
    overflow: hidden;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#nicknameInput {
    width: 250px;
    margin: 0 auto;
    float: left;
}
#loginBtn {
    margin-left: 20px;
    float: left;
}
.chatBox {
    overflow: hidden;
}
.chatBox span {
    line-height: 31px;
}
.chatDate {
    float: left;
    font-size: 12px;
    color: #ccc;
}
.chatName {
    float: left;
    max-width: 70px;
    font-size: 14px;
    color: #333;
}
.chatContent {
    float: left;
}
.system {
    color: #f40;
    font-size: 14px;
    float: left;
}
#fileBtn {
    margin-bottom: 5px;
}

span {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}